/* Badges Container */
.badges-container {
  position: absolute;
  width: 1012px;
  max-height: 123px;
  left: 865px;
  top: 598px;
  flex-wrap: wrap;
  margin-top: 16px;
}

/* Badge */
.badge {
  box-sizing: border-box;
  width: 60px;
  height: 24px;
  font-size: 12px;
  color: #1A1A1A !important; /* Sobrescribir el color de texto */
  background-color: #A8E2F0 !important; /* Sobrescribir el color de fondo */
  margin-bottom: 8px; 
  margin-right: 8px; 
}
