/* Badges Container */
.badges-container {
  position: absolute;
  max-width: 1012px;
  max-height: 123px;
  left: 865px;
  top: 598px;
}

/* Badge */
.badge {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  gap: 10px;
  width: 60px;
  height: 24px;
  background-color: #A8E2F0;
  color: #1a1a1a;
  border-radius: 15px;
  margin-bottom: 8px; 
  margin-right: 8px; 
}