.breadcrumb {
  position: absolute;
  width: 245px;
  height: 22px;
  left: 277px;
  top: 101px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600; /* Semibold */
  font-size: 16px;
  color: #979797;
  margin: 24px;
}
