/* Buttons Container */
.buttons-container {
  position: absolute;
  width: 212px;
  height: 38px;
  left: 1684px;
  top: 883px;
  display: flex;
  justify-content: space-between;
}

/* Button Izquierdo */
.button-left {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  width: 100px;
  height: 38px;
  background: #979797;
  border: 1px solid #979797;
  border-radius: 6px;
}

/* Button Derecho */
.button-right {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  width: 100px;
  height: 38px;
  background: #926642;
  border: 1px solid #926642;
  border-radius: 6px;
}
