.checkboxes-container {
  position: absolute;
  top: 587px; /* 523px de Files + 271px de Files + 32px de separación + 84px (separación vertical) */
  left: 277px; /* 253px de la sidebar + 24px de separación */
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  margin-right: 8px; /* Espacio entre el checkbox y el texto */
}