.files-container {
  position: absolute;
  top: 436px; /* 359px desde el header + 132px de Text + 32px de separación */
  left: 277px; /* 253px de la sidebar + 24px de separación */
  width: 500px;
  height: 119px;
}

.files-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px  64px; /* Espacio entre columnas */
}

.file-item {
  display: flex;
  align-items: center;
  width: 110px;
  height: 20px;
}

.file-icon {
  width: 15px;
  height: 20px;
  margin-right: 8px;
  color: #538E9C;
}

