.table-container {
  position: absolute;
  width: 896px;
  height: 300px;
  left: 865px;
  top: 193px;
}

.custom-table {
  max-width: 896px;
  max-height: 300px;
}

th {
  font-size: 14px;
  font-weight: 600;
  color: #538E9C;
}