.texts-container {
  position: absolute;
  width: 500px;
  height: 211px;
  left: 277px;
  top: 193px;
}

.paragraph {
  font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
  line-height: 1.5; /* Ajusta el interlineado según sea necesario */
}
