/* Estilos generales */
body {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-left: 54px;
  height: calc(100vh - 77px); /* Altura restando el header */
  max-height: 100vh;
}

.sidebar {
  flex: 1;
}

.left-content {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.right-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}

.table-container {
  margin-top: 16px;
}

.heading1 {
  font-size: 34px;
  color: #538E9C;
  margin-bottom: 16px;
}

.heading2 {
  font-size: 20px;
  font-weight: 600;
  color: #1A1A1A;
  margin-bottom: 8px; 
}

.heading4 {
  font-size: 14px;
  color: #000000;
  margin-top: 8px;
}

.text-14 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
}

.text-16 {
  font-size: 16px;
  font-weight: 400;
  color: #666667;
}

/* Estilos responsivos */
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .left-content {
    padding-right: 0;
  }

  .right-content {
    padding-left: 0;
    padding-top: 16px;
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .content-container {
    flex-direction: column;
  }

  .left-content, .right-content {
    padding: 8px;
  }

  .table-container {
    max-width: 100%;
    overflow-x: auto;
  }
}

@media (max-width: 480px) {
  .heading2 {
    font-size: 18px;
    line-height: 24px;
  }

  .table-description {
    font-size: 14px;
    line-height: 20px;
  }

  .left-content, .right-content {
    padding: 8px;
  }

  .badges-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
