/* Estilos generales de la aplicación */
/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 1920px; 
  max-height: 945px;
}

.heading1 {
  font-weight: 600;
  font-size: 34px; /* Ajusta el tamaño de fuente según sea necesario */
  color: #538E9C;
}

.heading2 {
  font-size: 20px; /* Ajusta el tamaño de fuente según sea necesario */
  font-weight: 600;
  color: #1a1a1a;
}

.heading4 {
  font-weight: 600;
  font-size: 14px; /* Ajusta el tamaño de fuente según sea necesario */
  color: #000000;
}

.text-14 {
  font-size: 14px;
  font-weight: 400;
  color: #1A1A1A;
}

.text-16 {
  font-size: 16px;
  font-weight: 400;
  color: #1A1A1A;
  margin-top: 8px;
}

.main-container {
  display: flex;
  height: calc(100vh - 77px); /* Altura restando el header */
  max-height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
  max-height: 868px;
  height: calc(100vh - 77px);
  margin-left: 253px; /* Mover el contenido a la derecha del sidebar */
  
}

.left-content {
  width: 548px; /* Ancho del contenido izquierdo */
  display: flex;
  flex-direction: column;
  padding-top: 77px; /* Ajustar según la altura del header */
  margin-right: 64px; /* Separación desde el divider */
  border: 0 1px 0 0 solid #979797;
}

.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 77px; /* Ajustar según la altura del header */
}

.table-section {
  margin-top: 116px; /* Separación superior desde el Header */
}

.badges-container {
  margin-top: 24px; /* Separación desde la Table */
}
