/* Estilos generales de la aplicación */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-width: 1920px; /* Para asegurarse de que no se desborde */
  max-height: 945px;
  margin: 77px 0 0 0;
}

.main-container {
  display: flex;
  height: calc(100vh - 77px); /* Altura restando el header */
  max-height: 100vh;
}

.sidebar {
  width: 253px;
  height: 100%;
  background-color: #f8f9fa; /* Ajusta según el color deseado */
}

.content-container {
  display: flex;
  flex: 1;
  max-height: 868px;
  height: calc(100vh - 77px);
  margin-left: 253px; /* Mover el contenido a la derecha del sidebar */
  
}

.left-content {
  width: 548px; /* Ancho del contenido izquierdo */
  display: flex;
  flex-direction: column;
  padding-top: 77px; /* Ajustar según la altura del header */
  margin-right: 64px; /* Separación desde el divider */
  border: 0 1px 0 0 solid #979797;
}

.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 77px; /* Ajustar según la altura del header */
}

.table-section {
  margin-top: 116px; /* Separación superior desde el Header */
}

.badges-container {
  margin-top: 24px; /* Separación desde la Table */
}

.buttons-container {
  margin-top: 24px; /* Separación desde Badges */
  align-self: flex-end; /* Alineación a la derecha */
}

.heading1 {
  font-size: 34px;
}

.heading2 {
  font-size: 20px; /* Ajusta el tamaño de fuente según sea necesario */
  margin-bottom: 8px; /* Espaciado inferior entre Heading 2 y el párrafo */
}
